*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(bg.jpg);
  background-position: center;
  background-size: cover;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container{
  max-width: 1300px;
  padding: 20px 50px;
  display:flex;
  justify-content: flex-end;
}

.navbar-menu a{
  color: #fff;
  font-size: 13px;
  font-family: 'Raleway' ,sans-serif;
  font-weight: 100;
  padding: 12px 15px;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
}
.navbar-menu a:hover{
  background-color: #fff;
  color: #000;
}

.description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  padding: 0 70px;
  width: 100%;
  text-align: center;
}
.description h2{
  font-size: 30px;
  font-family: 'Great Vibes', sans-serif;
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
  line-height: 50px;
}

.description p{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
  line-height: 25px;
  margin-bottom: 30px;
}

.description button{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #fff;
  background: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}
.description button:hover{
  background: #fff;
  color: #000;
}

#floating-prompt {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  display: none; /* Initially hidden */
}
