body {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(coffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container{
  max-width: 1300px;
  padding: 20px 50px;
}

.navbar-menu {
  display: flex; 
  justify-content: flex-end;
}

.navbar-menu a{
  color: #fff;
  font-size: 13px;
  font-family: 'Raleway' ,sans-serif;
  font-weight: 100;
  padding: 12px 15px;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
}
.navbar-menu a:hover{
  background-color: #fff;
  color: #000;
}

h2 {
  text-align: center;
  font-size: 100px;
  margin-top: 50px;
  font-family: 'Great Vibes';
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
  line-height: 50px;
}

.coffee-list {
  padding: 20px 50px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 59px;
}

.coffee-names {
  display: inline-block;
  width: 15vw;
  height: 45vh;
  color: #fff;
  font-family: 'Raleway' ,sans-serif;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  text-decoration: none;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  padding: 130px 20px;
  text-align: center;
  position: relative;
}
.coffee-names:hover {
  transform: scale(1.1);
  background-color: #fff;
  padding: 70px 20px;
  color: #000;
}

.description{
  display: none;
}

.coffee-names:hover .description {
  display: block;
  font-size: 15px;
}

.coffee-names:hover .coffee, .coffee-names:hover .price{
  display: none;
}

@media (max-width: 830px) {
  /* Adjust the max-width value to match the desired size of a phone */
  .coffee-list {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .coffee-names {
    width: 40vw; /* Adjust the width to fit the smaller screen */
    margin: 10px; /* Add margin between the items */
  }
}
  